.container_room{
    max-width: calc(1100px + 5.6rem);  
}
.col-md-8{
    flex-basis: 66.66667%;
    max-width: 66.66667%;
}
.detail_left{
    padding-right: 50px;
}
.breadcrumbs{
    padding: 1.5rem 0;
    align-items: center;
    display: flex;
}
.breadcrumbs a{
    padding-right:1.1rem;
    font-size:1.1rem;
}
.col-sm-10{
    flex-basis:83.33333%;
    max-width: 83.33333%;
}

.title_start{
    font-size:2rem;
    margin-bottom: 12px!important;
    word-break: break-word;
    font-weight:850;
    margin-top:0;
    line-height:1.25;
}
.col-lg-2{
    flex-basis:16.66667%;
    max-width: 16.66667%;
}
.room_id{
    position: relative;
    text-align: right;
}
.image_box{
    width: 56px;
    position: relative;
}
.image_box img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 50%;
}
.detail_location{
    font-size: .875rem;
    justify-content: flex-start;
    text-align:left;
    align-items: center;
    margin-top:18px!important;
    
}
.detail_flex{
    display: flex;
}
.fa-map-marker-alt{
    width:20px;
    height:20px;
    color: grey;
}
.ml--6{
    margin-left: 6px!important;
}
.text_bold{
    font-weight: 700;
}
.ml--12{
    margin-left: 12px!important;
}
.color_green{
    color:#28ca6e!important;
}
.mt--12{
    margin-top: 12px!important;
}
.fa-building{
    width:20px;
    height:20px;
    color: grey;
}
.detail_type{
    margin-top:1rem;
}
.detail_intro{
    width: 100%!important;
    margin-top:36px!important;
}
.mt--60{
    margin-top:60px!important;
}
.title_room1{
    font-size:1.75rem;
    margin: 0;
    margin-bottom: 10px!important;
    font-weight: 800;
    line-height: 1.25;
}
.amennities{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.item_room{
    display: flex!important;
    width: 100%!important;
}
.item_room1{
    flex:1 0;
}
.mt--24{
    margin-top:24px!important;
}
.mb-0{
    margin-bottom: 0!important;
}
.title_amenities{
    font-size:1.25rem;
    font-weight: 780;
    line-height: 1.25;
}
.list_room{
    list-style: none;
    font-size:.875rem;
    color:#555;
    display:flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding:0;
    margin:0;
}
.mt--12{
    flex-basis: 33.33333%;
    line-height: 2rem;
    margin-top: 12px !important;
    display: flex;   
}
.list_title{
    margin-left: 0.75rem;
}
.mt--12 i{
   padding-top: 10px;
}
.room_title{
    margin-top: 60px !important;
    margin-bottom:24px!important;

}
.mb--6{
    font-size:1.75rem ;
    margin: 0;
    margin-bottom: 10px !important;
    font-weight: 800;
    line-height: 1.25;
}
.price_blur{
    background: #f6f6f6;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-left:18px !important;
    padding-right: 18px!important;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}
.price_w{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-left:18px !important;
    padding-right: 18px!important;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}
.rice_left{
    flex: 0 0 50%;
    color: #333 !important;
}
.rice_right{
    flex: 0 0 50%;
    text-align: right;
    font-weight: 700;
    padding-left: 12px !important;
    color: #333 !important;
}
.availability_title{
    margin-top: 60px !important;
    margin-bottom:24px!important;
}
.room_cancel{
    font-size: 1.25rem;
    margin-top:24px!important;
    margin-bottom:10px!important;
    font-weight: 700;
    line-height:1.25;
}
.color_room{
    color: #f65e39;
}
.col-md-4{
    flex-basis: 33.33333%;
    max-width: 33.33333%;
}
.detail_right{
    padding: 1.5rem 0;
    justify-content: right;
    display: flex;
}
.detail_share{
    font-size:1.1rem;
    padding:0 1rem;
    height:2.375rem;
    line-height:2.375rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
    

}
.detail_like{
    font-size:1.1rem;
    padding:0 1rem;
    height:2.375rem;
    line-height:2.375rem;
    margin-left:48px!important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.detail_right button{
    text-transform: none;
    border: 0;
    overflow: visible;
    background:transparent;
}
.pr--6{
    padding-right: 10px!important;
}
.room_sidebar{
    max-width:375px;
    margin-left:auto;
    position:sticky;
    top: 100px;
    border-radius:3px;
}
.sidebar_content{
    border: 1px solid #e9e9e9;
    border-radius:4px;
}
.mb--18{
    margin-bottom: 18px !important;
}
.px--lg--24{
    padding-left:24px !important;
    padding-right:24px !important;
}
.sidebar1{
    padding-top: 24px !important;
}
.sidebar_pricing{
    font-size:28px;
}
.sidebar2{
    margin: 0 0 1rem;
}
.pricing_bold{
    font-weight: 700;
}
.night{
    font-size:14px !important;
}
.pricing_gray{
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin-left: 10px !important;
    font-size:14px !important;
    color: #999 !important;
    text-decoration: line-through;
}
.lable_discount{
    background: #f66;
    border:none;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    border-radius:3px;
    display: inline-block;
}
.text_discount{
    margin-top:6px!important;
    margin-bottom:0px!important;
    font-size: 12px !important;
}
strong{
    font-weight: bolder;
}
.img_title{
    max-width:100%;
    height:550px;
    width:1400px;
}
.btn_room{
    box-shadow: 0 4px 12px 0 rgb(246 116 57 / 40%);
    background-image: linear-gradient(
        90deg,#f65e38 0,#f68a39 51%,#f65e38);
    background-size: 200% auto;   
    width:100%;
    text-align: center;
    padding:0 1.875rem;
    height:3rem; 
    outline: 0;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    font-size: 1rem;
    display: inline-block;
    transition: all .3s;
    border-radius: 5px!important;
    overflow: hidden;
    margin-bottom: 12px!important;
    padding-left: 6px!important;
    padding-right: 6px!important;
}
.modal_booking{
    height: 2.625rem;
    line-height: 2.625rem;
    padding: 0 1rem;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    width: 100%;
}
.input-group{
    margin-bottom:1rem;
}
.mt--6{
    margin-top: 6px!important;
}
.sidebar_content{
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}
.py--30{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}
.advise_title{
    margin-bottom: 6px!important;
    font-size: 20px;
    font-weight: 900;
    margin-top: 0;
    line-height: 1.25;
}
.input_custom{
    margin-bottom: 1rem;
}
.input_custom input{
    border-radius: 4px;
    height: 3rem;
    border: 1px solid #e6e6e6;
    transition: all .3s;
    font-size: 16px;
    font-family: Luxstay;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    padding: 0.5rem 1.25rem;
}
.mb--30{
    margin-bottom:30!important;
}
.btn_black{
    background: #222;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 0 1.875rem;
    height: 3rem;
    line-height: 3rem;
    outline: 0;
    cursor: pointer;
    font-size: 1rem;
    display: inline-block;
    transition: all .3s;
    border-radius: 5px!important;
    font-weight:600;
}