.col-lg-20{
    flex-basis: 20%;
    max-width: 20%;   
}

.col-md-3, .col-xs-6{
    flex: 0 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.promo{
    margin-top: 1.5rem;   
}
.is-relative{
    position: relative;
}
.promo_image1{
    position: relative;
    z-index: 0;
}
.promo_image1 img{
    border-radius: 3px;
    top: 0;
    left: 0;
    max-width: 100%;
    vertical-align: middle;
    height: 165px;
    width: 100%;
}
.promo_content{
    margin-top: 0.5rem;
    font-size: 0.875rem;
}
.title_small{
    display: flex;
    justify-content: space-between;
    font-size: 12px;   
}
.text_left{
    color: rgb(118, 118, 118);
    font-size: 14px;
}
.text_right{
    text-align: right;
    font-size: 12px;
}
.fa-star{
    margin-right: 2px;
    top: -2px;
    width: 14px;
    height: 14px;
    color: rgb(255, 176, 37);
}
.promo_title{
    color: rgb(72, 72, 72);
    -webkit-box-orient: vertical;
    margin-bottom: 3px;
    font-size: 1rem;
    
    overflow: hidden;
    max-height: 52px;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}
.fa-bolt{
    width: 20px;
    height: 20px;
   color: rgb(255, 176, 37);
}
.promo_price{
    margin-bottom: 6px;
    font-size: 0.875rem;
    font-weight: 700;

}
