.col-md-6{
    flex-basis: 50%;
    max-width: 50%;
}
.col-lg-2{
    flex-basis: 16.66667%;
    max-width: 16.66667%;
}
.col-lg-4{
    flex-basis: 33.33333%;
    max-width: 33.33333%;
}
.checkout .title{
    margin-bottom:2rem;
}
.main{
    margin-top:5rem;
    background-color:#F5F5F5;
    padding-bottom:5rem;
}
.checkout{
    padding-top:2rem;
}
.container-sm{
    max-width:calc(1296px + 5.6rem);
}
.container{
    padding:0 2.8rem;
    margin: auto;
}
.row{
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.title h3{
    font-size: 1.75rem;
    margin: 0;
    line-height: 1.25rem;
    font-weight: 700;
}
.input_group{
    margin-bottom:1rem;
}
.name_checkout{
    position: relative;
    display: block;
    font-weight: 650;
}  
.text_danger{
    color: #f65e39;
}
.input-group__text{
    color: #555;
    font-size: .875rem;
    margin-top: 0.5rem;
    display:block
}
.col-xs-6{
    flex-basis: 50%;
    max-width: 50%;
}
.box_number{
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
    padding-left: 18px!important;
    padding-right: 18px!important;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
    background-color: #fff!important;
}
.mt1{
    margin-top:0.5rem;
}
.space_lose .input_group+.input_group{
    margin-top:2rem;
}
.check_inout{
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 5px!important;
    overflow: hidden;
    padding: 12px!important;
    background-color: #fff!important;
}
.green_checkin{
    background: transparent;
    position: relative;
    background-color: #28ca6e;
    border: 0;
    content: "";
    display: block;
    border-radius: 2.5px;
    width: 40%;
    height: 100%;
    margin-top: 8px;
    opacity: 1;
}
.check_inout hr{
    height:4px;
}
.checkin_title{
    margin-bottom: 0!important;
    color: #999!important;
    padding-top: 8px;
}
p{
    margin: 0 0 1rem;
}
.checkin_title1{
    margin-bottom: 0!important;
    font-size: 24px!important;
}
.checkin_title2{
    margin-bottom: 0!important;
    font-size: 12px!important;
    color: #999!important;
}
.orange_checkout{
    background: transparent;
    position: relative;
    background-color: #fbdb91;
    border: 0;
    content: "";
    display: block;
    border-radius: 2.5px;
    width: 40%;
    height: 100%;
    margin-top: 8px;
    opacity: 1;
}
.mt--48{
    margin-top: 48px!important;
}
.input_info{
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.15)!important;
    background-color: rgba(0,0,0,.07)!important;
    border-radius: 5px;
    border: none;
}
input{
    height: 3rem;
    transition: all .3s;
    font-size: 14px;
    width: 100%;
    padding: 0.5rem 1.25rem;
}
.input_group .input_info{
    margin-top: 1rem;
}
.col-sm-6{
    flex-basis: 50%;
    max-width: 50%;
}
.mt{
    margin-top: 1rem;
}
.btn_apply{
    background-image: linear-gradient(
    90deg,#f65e38 0,#f68a39 51%,#f65e38);
    background-size: 500% auto;
    padding: 0 1.875rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 5px!important;
    font-weight: 700;
    margin-top: 30px!important;
    border: 0;
    text-transform: none;
    outline: 0;
    cursor: pointer;
    color: #fff;
}
.checkout_btn{
    margin-top: 2.5rem;
    background-image: linear-gradient(
    90deg,#f65e38 0,#f68a39 51%,#f65e38);
    background-size: 500% auto;
    padding: 0 1.875rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 5px!important;
    display: block!important;
    text-transform: none;
    outline: 0;
    cursor: pointer;
    color: #fff;
    transition: all .3s;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
.h--100{
    height: 100% !important;
}
.checkout .title{
    margin-bottom:2rem;
}
.details_payment{
    font-size: 1.75rem;
    margin: 0;
    font-weight: 700;
}
.checkup{
    background: #fff;
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
    border: none;
    position: sticky;
    top: 100px;
    border-radius: 5px;
    padding: 1.5rem;
    font-size: .875rem;
}
.checkup_header{
    padding-bottom: 1.475rem;
    border-bottom: 1px solid #e6e6e6;
}
.is-flex{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.checkout .grow{
    padding-right: 10%;
}
.is-flex .grow{
    flex: 1;
}
.checkup_title{
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    font-size: 0.92rem;
    font-weight: 800;
    margin-top: 0;
}
.fa-map-marker-alt{
    width:24px;
    height:24px;
    vertical-align: middle;
    color:#999;
}
.medium{
    width: calc(100% - 25px);
    margin-left: 0.5rem;
    font-weight: 500;
}
.checkup_right{
    width: 128px;
}
.checkup_right img{
    border-radius: 0.1875rem;
    width: 100%;
    background-position: 50%;
    background-color: #eee; 
}
.checkup_body{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 1.475rem;
}
.checkup_detail{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 1.475rem;
}
.checkup .checkup_body>div{
    padding-top: 1.475rem;
}

.middle-xs{
    align-items:center;
}
.fa-calendar-alt{
    width:24px;
    height:24px;
    color: rgb(246, 94, 57);
    font-size: 20px;
}
.checkup_detail span{
    margin-left: 0.5rem;
    line-height: 1.125rem;
}
.fa-user-circle{
    width:24px;
    height:24px;
    color: rgb(246, 94, 57);
    font-size: 20px;
}
.checkup_detail div+div{
    padding-top: 0.75rem;
}
.checkup_price{
    transition: all .3s;
    position: relative;
    animation: fadeIn .4s ease-in-out;

}
.price_left{
    align-items:center;
    flex:0 0 50%;
}
.pr--6{
    padding-right: 6px!important;
}
.price_right{
    text-align: right;
    flex:0 0 50%;
}
.checkup_price div+div{
    padding-top: 1.25rem;
}
.my--18{
    margin-top: 18px;
    margin-bottom: 18px!important;
}
.checkup_price hr{
   border: 1;
    height: 1px;
    background: #e6e6e6;
    opacity: 1.25;
}
.extra-bold{
    font-weight:800;
}
.checkup_footer>div{
    padding-top: 1.475rem;
}
.checkup_footer{
    border: 0!important;
    padding: 0!important;
}
.cancel_group{
    margin-bottom: 1rem;
}
.cancel_title{
    position: relative;
    font-weight: 700;
    display:block;
}
.cancel_text{
    color: #555;
    font-size: .875rem;
}
.color-i{
    color:#f65e39;
}




