// day la css ne
// run project thi` go lenh npm start
.body {
    font-family: Luxstay;
    font-family: 500;
    font-size: 1rem;
    height: auto;

}


.welcome {
    background: linear-gradient(90deg, #f65e38 0, #f68a39 51%, #f65e38);
    padding: 3rem 0;
}

.container--sm {
    max-width: calc(1296px + 5.6rem);

}

.row {
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    height: auto;
}

.col-md-7 {
    flex-basis: 58.333333%;
    max-width: 58.333333%;
}

.welcome_title {
    font-size: 1.6rem;
    line-height: 2.25rem;
    margin-bottom: 0.625rem;
    color: #FFFFFF;
    font-weight: 700;
}

.welcome_title1 {
    font-size: 1.125rem;
    color: #FFFFFF;
}

.container {
    padding: 0 2.8rem;
    margin: auto;
}

.col-md-6 {
    max-width: 50%;
    flex-basis: 50%;
}

.xs-12 {
    flex: 0 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.media {
    margin-top: 3rem;
    box-sizing: inherit;
    display: block;

}

.img1 {
    border-style: none;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

.media_title {
    margin: 1.5rem 0 0.875rem;
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.25;
    box-sizing: inherit;


}

.media_content {
    color: #555;

}



.login {
    margin-top: -6.875rem;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 9px 46px 8px rgb(0 0 0 / 2%),
        0 24px 38px 3px rgb(0 0 0 / 4%), 0 11px 15px -7px rgb(0 0 0 / 5%);
    border-radius: 0.625rem;
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}

.login_title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-weight: 800;
    margin-top: 0;
    line-height: 1.25;
}

.login_title1 {
    margin-bottom: 1rem;
}

.login_group {
    position: relative;
    font-weight: 600;
    display: block;
}

.login_body {
    margin-top: 2rem;
}

input {
    border-radius: 3rem;
    padding: 0.5rem 1.25rem;
    height: 3rem;
    border: 2px solid #e6e6e6;
    transition: all .3s;
    font-size: 14px;
    width: 100%;
    overflow: visible;
}

input:focus {
    border-color: orange;

    outline: none;
}

.input_login {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    position: relative;


}

.input_icon.is-absolute {
    top: 12px;
    right: 1.15rem;
    position: absolute;


}

.btn {
    margin-top: 2rem;
    box-shadow: 0 4px 12px 0 rgb(246 116 57 / 40%);
    background-image: linear-gradient(90deg, #f65e38 0, #f68a39 51%, #f65e38);
    background-size: 200% auto;
    border-radius: 3rem;
    width: 100%;
    text-align: center;
    padding: 0 1.875rem;
    height: 3.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    color: #fff;
    outline: 0;
    cursor: pointer;
    font-size: 1rem;
    transition: all 3s;
    border: 0;
    text-transform: none;
    overflow: visible;

}



.login_center {
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
}

a.colortext {
    color: #f65e39;
    font-weight: 650;
    text-decoration: none;
    transform: all 3s;

}

a.colortext:hover {
    color: black;
}

.register {
    margin-top: 30px;
}

.login_social {
    margin-top: 2rem;
}

.btn_social {
    margin-top: 1rem;
    border-color: #e6e6e6;
    border: 1px solid #555;
    border-radius: 3rem;
    color: #555;
    width: 100%;
    text-align: center;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 1.875rem;
    font-size: 1rem;
    position: relative;
    border-width: 0.5px;
}

a.text3 {
    color: #555;
    text-decoration: none;
}

a.text3:hover {
    color: #f65e39;
}