
.customDropzone {
  text-align: center;
  border: 3px dashed #eeeeee;
  color: #bdbdbd;
  margin-bottom: 20px;
    width: 156px;
    height: 156px;

  &.error {
    color: $color-error;
    border-color: $color-error;

    .dropzone {
      border-color: $color-error;

      &:hover {
        border-color: $color-error;
      }
    }

    p {
      color: $color-error;

    }
  }

  .dropzone {
    cursor: pointer;
    transition: .3s;
    width: 100%;
    height: 100%;
    position: relative;
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &:hover {
      border-color: #000;
    }
  }

  img {
    max-width: 50%;
    position: relative;

    &::before {
      content: '';
      background: initial;
    }
  }
}
