$primary-color:#fb9236;
$primary-color-hover:#e21919ab;

$color-black:#000;
$color-white:#fff;
$color-grey-1:#E8E9EB;
$color-grey-2:#CCCDC6;
$color-grey-3:#BBBCB6;
$color-grey-4:#ACADA8;
$color-grey-5:#746D69;
$color-grey-6:#696969;
$color-grey-7:#F4F4F4;
$color-grey-8:#fbfbfd;
$color-silver:#C4C4C4;
$color-boulder:#767676;
$color-dusty-gray:#979797;
$color-silver-chalice:#9F9F9F;
$color-mine-shaft:#262626;
$color-alto:#D9D9D9;
$color-tundora:#414141;
$color-energy-yellow:#F5DC66;
$color-husk:#B99F54;
$color-forest-green:#1C8B27;
$color-pomegranate:#F53626;
$color-jaffa:#F49342;

$color-error:#f44336;

$font-amiri:'Amiri';
$font-montserrat:'Montserrat';
$font-dino:'Dino';
$font-dino-light:'Dino-Light';

$border-color:#E9E9E9;
$color-gold:#CFB559;

$home-bg-color-grey:#F7F7F7;

$border-color-2:#D3D3D3;

$z-indexes: ('navigation',
  'content'
);

$font-dir:'../assets/fonts';

$silver-name:#9499A5;
$gold-name:#C0A97F;
$platinum-name:#231F20;
