.container-md{
    max-width: calc(1520px + 5.6rem);
}
.Container{
    padding: 0 2.8rem;
    margin: auto;
}
.el-row{
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    box-sizing: border-box;
}
.el-col-md-24{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.section{
    margin-top: 30px;
}
.row{
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

}
.col-md-9{
    flex-basis: 75%;
    max-width: 75%;
    min-width: 992px;
}
.col-xs-12{
    float: 0 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.title{
    font-weight: 700;
    margin-top: 0;
    line-height: 1.25;
    font-size: 1.6rem;
}
.col-md-3{
    max-width: 25%;
    flex-basis: 25%;   
}
.col-xs-12{
    flex: 0 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;   
}
.is-flex{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.is-flex .jend{
    justify-content: flex-end;
}
.select{
    position: relative;
    display: inline-block;
    max-width: 280px;
}
.input_select{
    position: relative;
    font-size: 16px;
    width: 100%;
    
    display: block;

}
.select1{
    cursor: pointer;
    padding-right: 35px;
    padding-left: 100px;
    font-size: 1.1rem;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;  
    background-color: #fff;
    background-image: none;
    border: 1px solid #ced4da;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    color: #222;
    align-items: center;
}
select{
    overflow: visible;
    margin: 0;
}
.input_prefix{
    top: 12px;
    left: 20px;
    height: 100%;
    text-align: center;
    position: absolute;
    color: #555;
    font-size: 16px;
    transition: all 3s;
}
.input_suffix{
    position: absolute;
    height: 100%;
    right: 5px;
    top: 0;
    text-align: center;
    color: #555;
    pointer-events: none;
    transition: all 3s;
    font-size: 16px;
    
}
.input_suffix1{
    pointer-events: all;
    text-align: center;
    color: #555;
    
    
}
.fa-chevron-down{
    color: #555;
    font-size: 14px;
    
    cursor: pointer;
    width: 25px;
    line-height: 3rem;
    text-align: center;
    height: 100%;
    
    
}
