.or-line{
    position: relative;
 &::after{
     content: "Hoặc";
     position: absolute;
     left: 50%;
     transform: translate(-50%,-50%);
     top: 50%;
     background-color: #fff;
     padding: 0 16px;
 }
}