.header {
    background-color: #fff;
    width: 100%;
    height: auto;
    z-index: 6;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    img {
        max-width: 190px;
    }
    .avatarWrapper{
        .userDropdown{
            position: absolute;
            top: 100%;
            right: 0;
            border: 1px solid $color-grey-7;
            width: 180px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
            background-color: #fff;
            &.open{
            opacity: 1;
            visibility: visible;
                
            }
            &__item{
                padding:8px 16px;
                font-size: 0.875rem;
                display: block;
                &:hover{
                    color:$primary-color;
                    cursor: pointer;
                }
            }
        }
    }
   
    
}

.header_login {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 100px;

}

.logo {
    max-width: 1rem;

}


.header_right {
    display: flex;
    align-items: center;

}

a:hover {
    color: #f65e39;
}

.right_item {
    margin: 0 1rem;

}

.login_link {
    font-weight: 650;
    color: #222;
    text-decoration: none;
    transition: all .3s;
    margin-left: 15px;
    font-size: 15px;
    letter-spacing: .2px;
    line-height: 1.5;
}