.footer{
    margin-top: 0;;
}
.footer_top{
    padding: 3rem 0;
}
.col-md-20{
    flex-basis: 20%;
    max-width: 20%;
}
.widget{
    margin-top: 1rem;
    text-align: justify;
}
.widget_title{
    margin: 0 0 1.25rem;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.25;
}

.widget_icon{
    display: inline-block;
    vertical-align: middle;
}
.widget_text{
    color: #555 !important;
    font-size: 14px;
    box-sizing: inherit;
}
.about_item{
    color: #000;
    display: flex;
    align-items: center;
    box-sizing: inherit;
    margin-top: 1.5rem;
}

.fa-comments{
    font-size: 2rem;
    color: #f65e39;
}
.about_item_content{
    flex: 0 10 auto;
    margin-left: 0.5rem;

}
.bold_text{
    font-weight: 800;
    margin-bottom: 0 !important;
    margin: 0 0 1rem;
    
}
a{
    text-decoration: none;

}
.fa-phone-alt{
    font-size: 2rem;
    color: #f65e39;
}
.widget_menu{
    list-style: none;  
}
.d-sm-block{
    display: block !important;
}
ul{
    margin: 0;
    padding: 0;
}
.widget_menu_item{
    margin-bottom: 12px;
}
.mr-md-24{
    margin-right:24px !important;
}
.mb--36{
    margin-bottom: 36px !important;
}
.col-md-6{
    flex-basis: 50%;
    max-width: 50%;
}
.QR_CODE{
    border: 1px solid rgba(0,0,0,.09);
    padding: 12px;
    margin-right: 12px !important;
}
.QR_CODE img{
    width: 65.2px;
    height: 65.2px;
}
.center{
    align-items: center;
}

.mb--18{
    margin-bottom: 18px!important;
}
.mb--18 img{
    width: 103.2px;
    height: 32.1px;
    margin-bottom: 18px;
}