.host_active{
    color:#fb9236;
    background-color: rgba(245,166,35,.1);
    position: relative;
    &::after{
        content: '';
        background-color: #f5a623;
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
    }
}