.main{
    margin-top:5rem;
    background-color:#F5F5F5;
    padding-bottom:5rem;
}
.checkout{
    padding-top:2rem;
    
}
.container-sm{
    max-width:calc(1296px + 5.6rem);
}
.container{
    padding:0 2.8rem;
    margin: auto;
}
.col-xl-5{
    flex-basis: 41.66667%;
    min-width: 41.66667%;
}
.col-xl-3{
    flex-basis:25%;
    min-width: 25%;
}
.col-md-4{
    flex-basis: 33.33333%;
    min-width: 33.33333%;
}
.mb--6{
    font-size:1.75rem;
    margin:0;
    font-weight:700;
    margin-bottom:6px!important;
    line-height:1.25;
}
.title p{
    margin:0.5rem 0 0;
    color:#555;
}
.mb--0{
    margin-bottom: 0!important;
}
.payment_card{
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 5px!important;
    position: relative;
    padding-left: 24px!important;
    padding-right: 24px!important;
    padding-top: 18px!important;
    padding-bottom: 18px!important;
    margin-top: 18px!important;
    background-color: #fff!important;
}
.el-radio{
    color: #212529;
    font-weight: 500;
    line-height: 1;
    position: relative;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}
.el-radio.is-payment{
    background-color: transparent;
    align-items: center;
    display: flex;
}
.el-radio_input{
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
}
.el-radio .is-payment .el-radio_label{
    line-height: normal;
    font-weight: 400;
    white-space: normal;
    flex-grow: 1;
}
.el-radio_label{
    font-size:1rem;
    padding-left: 10px;
}
.gateway__desc{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    word-wrap: break-word;
}
.col-sm-10{
    flex-basis: 83.33333%;
    max-width: 83.33333%;
}
.gateway__icon{
    align-items: flex-end;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align:right;
}
.col-sm-2{
    flex-basis: 16.66667%;
    max-width: 16.66667%;
}
.gateway_title{
    font-weight:600;
    margin-bottom:0!important;
    margin: 0 0 1rem;
}
.gateway_gray{
    padding-top:6px!important;
    font-size:12px!important;
    color: #999 !important;
}
.row{
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.el-radio_inner{
    border: 2px solid #ced4da;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    margin: 5px;
    vertical-align: middle;
}
.el-radio_original{
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}
img{
    border-style: none;
    max-width: 100%;    
    vertical-align: middle;
    height: auto;
}
.btn_payment{
    background-image: linear-gradient(
    90deg,#f65e38 0,#f68a39 51%,#f65e38);
    background-size: 500% auto;
    padding: 0 1.875rem;
    height: 3.5rem;
    line-height: 3.5rem;
    display: block!important;
    font-weight: 700;
    margin-top: 54px!important;
    text-transform: none;
    margin:0;
    outline: 0;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    font-size: 1rem;
    transition: all .3s;
    text-align: center;
}
.h--100{
    height: 100% !important;
}
.checkout .title{
    margin-bottom:2rem;
}
.details_payment{
    font-size: 1.75rem;
    margin: 0;
    font-weight: 700;
}
.checkup{
    background: #fff;
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
    border: none;
    position: sticky;
    top: 100px;
    border-radius: 5px;
    padding: 1.5rem;
    font-size: .875rem;
}
.checkup_header{
    padding-bottom: 1.475rem;
    border-bottom: 1px solid #e6e6e6;
}
.is-flex{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.checkout .grow{
    padding-right: 10%;
}
.is-flex .grow{
    flex: 1;
}
.checkup_title{
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    font-size: 0.92rem;
    font-weight: 800;
    margin-top: 0;
}
.fa-map-marker-alt{
    width:24px;
    height:24px;
    vertical-align: middle;
    color:#999;
}
.medium{
    width: calc(100% - 25px);
    margin-left: 0.5rem;
    font-weight: 500;
}
.checkup_right{
    width: 128px;
}
.checkup_right img{
    border-radius: 0.1875rem;
    width: 100%;
    background-position: 50%;
    background-color: #eee; 
}
.checkup_body{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 1.475rem;
}
.checkup_detail{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 1.475rem;
}
.checkup .checkup_body>div{
    padding-top: 1.475rem;
}

.middle-xs{
    align-items:center;
}
.fa-calendar-alt{
    width:24px;
    height:24px;
    color: rgb(246, 94, 57);
    font-size: 20px;
}
.checkup_detail span{
    margin-left: 0.5rem;
    line-height: 1.125rem;
}
.fa-user-circle{
    width:24px;
    height:24px;
    color: rgb(246, 94, 57);
    font-size: 20px;
}
.checkup_detail div+div{
    padding-top: 0.75rem;
}
.checkup_price{
    transition: all .3s;
    position: relative;
    animation: fadeIn .4s ease-in-out;

}
.price_left{
    align-items:center;
    flex:0 0 50%;
}
.pr--6{
    padding-right: 6px!important;
}
.price_right{
    text-align: right;
    flex:0 0 50%;
}
.checkup_price div+div{
    padding-top: 1.25rem;
}
.my--18{
    margin-top: 18px;
    margin-bottom: 18px!important;
}
.checkup_price hr{
   border: 1;
    height: 1px;
    background: #e6e6e6;
    opacity: 1.25;
}
.extra-bold{
    font-weight:800;
}
.checkup_footer>div{
    padding-top: 1.475rem;
}
.checkup_footer{
    border: 0!important;
    padding: 0!important;
}
.cancel_group{
    margin-bottom: 1rem;
}
.cancel_title{
    position: relative;
    font-weight: 700;
    display:block;
}
.cancel_text{
    color: #555;
    font-size: .875rem;
}
.color-i{
    color:#f65e39;
}

