.homeHighlight {
    padding-top: 32px;

    .slick-slide {
        padding: 0 8px;

    }

    &__item {
        @include paddingBottomByPercent(262, 210);
        position: relative;

        img {
            max-width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
        }

        &__overlay {
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
        }
    }
}