.signup_title{
    font-size: 1.6rem;
    padding-bottom: 2rem;
    font-weight: 800;
    margin-top: 0;
    line-height: 1.25;

}
.text_address{
    font-weight: 600;
    position: relative;
}
.is-relative{
    position: relative;
}
.input_group{
    margin-bottom: 1rem;
    box-sizing: inherit;
    margin-top: 1rem;

}
.input_group .input{
    border-radius: 3rem;
    padding: 0.5rem 1.25rem;
}
.input{
    height: 3rem;
    border: 1.5px solid #e6e6e6;   
    font-size: 14px;
    width: 100%;
    margin: 0;
    line-height: 1.15;
}
input:focus {
    border-color: orange;
    outline: none;
}
.input_icon{
    position:absolute;
    top:12px;
    right: 1.5rem;

}
.phone_input{
    margin-top: 1rem;

}
.input1{
    margin-top: 0.5rem;
}
.bold{
    right: 1.15rem;
    top:calc(50% - 4px);
    font-weight: 700;

}
.grey{
    right: 1.15rem;
    top: calc(50% - 4px);
    color: #999;

}
.text_address1{
    font-weight: 600;
    position: relative;
    display: flex;
}
.btn{
    margin-top: 1rem;
}
.register{
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    display: flex;

}
.caption{
    margin-top: 1.5rem;    
    font-size: 0.875rem;
    color: #555;  
    padding-left: 30px;
}
.bold{
    font-weight: 700;
    text-decoration: none;  
    color: inherit;
    transition: none;
    text-align: center;
}
a:hover{
    color:#f65e39;
}
.center-xs{
    justify-content: center;
    align-items: center;
}
.btn_social{
    position: relative;
}
.login_social i{
    position: absolute;
    top:calc(50% - 0.5rem);
    right: 1.275rem;

}
.fa-facebook{
    color:#3a5999;
}
.fa-google{
    color:red;
}