.hostHeaderActive{
    border-bottom: 2px solid $primary-color;
    font-weight: bold;

}
.userAvatar{
    position: relative;
    &__dropdown{
        position: absolute;
        top: 100%;
        right: 0;
        border: 1px solid $color-grey-7;
        width: 180px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        &.open{
        opacity: 1;
        visibility: visible;
            
        }
        &__item{
            padding:8px 16px;
            font-size: 0.875rem;
            &:hover{
                color:$primary-color;
                cursor: pointer;
            }
        }
    }
}