
.homeOffer {
    padding-top: 32px;

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    &__item {
        @include paddingBottomByPercent(157, 361);
        position: relative;

        img {
            max-width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
        }
    }
}