.createHomeLayout{
    background-color: $color-grey-8;
    min-height: 100vh;
    &__header{
        display: flex;
        align-items: center;
        background-color: $color-white;
        border-bottom: 1px solid $color-grey-1;
    }
    &__steps{
        display: flex;
        .step{
            position: relative;
            padding:20px;
            &::after{
                position: absolute;
                height: 50%;
                top:50%;
                right: 0;
                background-color: $color-grey-1;
                width: 1px;
                transform: translateY(-50%);
                content: '';
            }
            &:last-child::after{
                width: 0;
            }
        }
    }
    &__content{
        margin:40px 0;
    }
}