.hint{
    background-color: rgba(245,166,35,.1);
    border-left: 3px solid $primary-color;
    p{
        color:$primary-color;
    }
}
.previewImage{
    img{
        width:156px;
    height:156px;
    }
}