
.simpleCard {
    &__img {
        @include paddingBottomByPercent(167, 267);
        position: relative;

        img {
            max-width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
        }
    }

    h4 {
        font-size: 12px;
        padding-top: 8px;
        font-weight: bold;
        text-transform: uppercase;
        color: #555;
    }
}