.checkoutHeader{
    height:80px;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 6;
    background-color: #fff!important;
}
.w--100{
    width: 100%!important;
}
.logo_header{
    display: inline!important;
}
.logo_header img{
    width: 244px;
    height: 50px;
}
.container--sm{
    max-width: calc(1296px + 5.6rem);
}
.container2{
    padding: 0 2.8rem;
    margin: auto;
}
.checkout_progress{
    box-sizing: border-box;
    display: flex;
    padding-left:1.75rem;
    align-items: center;
}
.info_book{
    margin-right: 1.5rem;
}
.fa-angle-right{
    width: 16px;
    height: 16px;
    color:gray;
    margin-right: 1.5rem;
}
.checkout_payment{
    font-weight: 600;
    color:#f65e39;
}