
.footer_bottom{
    background: #fff;
    border-top: 1px solid #f2f2f2;
    padding: 24px 15px;
    font-weight: 500;
    letter-spacing: .23px;
}

.container-md{
    max-width: calc(1520px + 5.6rem);
}
.footer_center{
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}
.col-xs-12{
    flex-basis: 100%;
    max-width: 100%;
}
.text-center1{
    text-align: center;
}
.footer_text1{
    margin-bottom: 0!important;
    font-size: 14px!important;
    color: #999!important;
}
.footer_text2{
    margin-top: 6px!important;
    margin-bottom: 0!important;
    font-size: 14px!important;
    color: #999!important;
}
.footer_center p{
    font-weight: 499;
}